<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PowerwallService.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="PowerwallService.My.MySettings.PWHistory" connectionString="Server=tcp:TODO.database.windows.net,1433;Initial Catalog=PWHistory;Persist Security Info=True;User ID=TODO;Password=TODO;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
        <add name="PowerwallService.My.MySettings.PWHistoryLocal" connectionString="Data Source=TODO;Initial Catalog=PWHistory;Persist Security Info=True;User ID=TODO;Password=TODO" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/>
    </startup>
    <applicationSettings>
        <PowerwallService.My.MySettings>
            <setting name="LogCompactOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PVSendLoad" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PVSendPV" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PVv7" serializeAs="String">
                <value>battery_instant_power</value>
            </setting>
            <setting name="PVv8" serializeAs="String">
                <value>load_instant_power</value>
            </setting>
            <setting name="PVv9" serializeAs="String">
                <value>soc_state_of_charge</value>
            </setting>
            <setting name="PVv10" serializeAs="String">
                <value>site_instant_power</value>
            </setting>
            <setting name="PVv11" serializeAs="String">
                <value>battery_instant_average_voltage</value>
            </setting>
            <setting name="PVv12" serializeAs="String">
                <value>solar_instant_power</value>
            </setting>
            <setting name="SolcastAddress" serializeAs="String">
                <value>https://api.solcast.com.au/pv_power/forecasts?longitude={0}&amp;latitude={1}&amp;capacity={2}&amp;tilt={3}&amp;azimuth={4}&amp;install_date={5:yyyyMMdd}&amp;api_key={6}&amp;format=json</value>
            </setting>
            <setting name="PWOvernightLoad" serializeAs="String">
                <value>35</value>
            </setting>
            <setting name="PWMorningBuffer" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="PVReportingEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PWPeakConsumption" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="PWCapacity" serializeAs="String">
                <value>13500</value>
            </setting>
            <setting name="PWSelfConsumption" serializeAs="String">
                <value>13000</value>
            </setting>
            <setting name="LogData" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TariffIgnoresDST" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TariffPeakStart" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="TariffPeakEnd" serializeAs="String">
                <value>22</value>
            </setting>
            <setting name="TariffPeakRate" serializeAs="String">
                <value>36</value>
            </setting>
            <setting name="TariffOffPeakRate" serializeAs="String">
                <value>23</value>
            </setting>
            <setting name="TariffFeedInRate" serializeAs="String">
                <value>8.2</value>
            </setting>
            <setting name="PWRoundTripEfficiency" serializeAs="String">
                <value>0.85</value>
            </setting>
            <setting name="LogAzureOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PVSendForecast" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PVSendForecastAs" serializeAs="String">
                <value>v12</value>
            </setting>
            <setting name="PVSendPowerwall" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PVSendVoltage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PWChargeModeBackup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PWMinBackupPercentage" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="PWGatewayAddress" serializeAs="String">
                <value>TODO</value>
            </setting>
            <setting name="PVOutputAPIKey" serializeAs="String">
                <value>TODO</value>
            </setting>
            <setting name="PWLocalInstallerUsername" serializeAs="String">
                <value>installer</value>
            </setting>
            <setting name="PWLocalInstallerPassword" serializeAs="String">
                <value>STTODO</value>
            </setting>
            <setting name="SolcastAPIKey" serializeAs="String">
                <value>TODO</value>
            </setting>
            <setting name="PVSystemInstallDate" serializeAs="String">
                <value />
            </setting>
            <setting name="PBILiveLoggingEndpoint" serializeAs="String">
                <value />
            </setting>
            <setting name="PBIChargeIntentEndpoint" serializeAs="String">
                <value />
            </setting>
            <setting name="PBIkWChartMinMax" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="PBIVoltageNominal" serializeAs="String">
                <value>230</value>
            </setting>
            <setting name="PWForceModeOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PWForceMode" serializeAs="String">
                <value>self_consumption</value>
            </setting>
            <setting name="PWForceBackupPercentage" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="VerboseLogging" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PWControlEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DebugLogging" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PWOvernightStandby" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PWPeakConsumptionWeekend" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="DualPVSystem" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PVSystem2Azimuth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PVSystem2Capacity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PVSystem2Tilt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PWCloudEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="PWCloudPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="PWCloudAPI" serializeAs="String">
                <value>https://owner-api.teslamotors.com/</value>
            </setting>
            <setting name="PWEnergySiteID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PWLocalUserUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="PWLocalUserPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="PWCloudMFARecoveryToken" serializeAs="String">
                <value />
            </setting>
            <setting name="PWUseAutonomous" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PWCloudToken" serializeAs="String">
                <value />
            </setting>
            <setting name="PWPeakConsumptionUseHistory" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PWCloudRefreshToken" serializeAs="String">
                <value />
            </setting>
            <setting name="IgnoreCertificates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PWConsumptionToPeakStartUseHistory" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PWOvernightConsumptionUseHistory" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PWChargeBuffer" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PWSkipControl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TariffSuperOffPeakStart" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="TariffSuperOffPeakEnd" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="TariffSuperOffPeakActive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PWAutoChargeMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseTeslaFleetAPI" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TeslaFleetScope" serializeAs="String">
                <value>openid offline_access user_data vehicle_device_data energy_device_data energy_cmds</value>
            </setting>
            <setting name="TeslaFleetAPI" serializeAs="String">
                <value>https://fleet-api.prd.na.vn.cloud.tesla.com/</value>
            </setting>
            <setting name="HAHost" serializeAs="String">
                <value>http://wsl2:8123/api/</value>
            </setting>
            <setting name="HAOverrideForecast" serializeAs="String">
                <value>states/input_boolean.override_forecast</value>
            </setting>
            <setting name="HABearer" serializeAs="String">
                <value>TODO</value>
            </setting>
            <setting name="UseHA" serializeAs="String">
                <value>False</value>
            </setting>
        </PowerwallService.My.MySettings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
	</assemblyBinding>
  </runtime>
</configuration>
